
.state-container .state-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.state-container .state-item{
  flex: 1 1 7em;
  padding: 6px;
  text-align: center;
}
/*
.state-container .state-point{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background-color: currentColor;
}*/

.state-container .state-text{
  display: inline-block;
  max-width: 80px;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  color: rgba(255,255,255,.86);
  line-height: 1.6em;
  font-size: 13px;
  padding-top: 4;
}

.state-container .error{
fill: rgba(234,74,45,1);
}
.state-container .heath{
fill: rgba(45,148,215,1);
}
.state-container .icon{
fill: #FDB225;
}

