<div class="edit-tab-with-sidemenu">
    <aside class="edit-sidemenu-aside">
        <ul class="edit-sidemenu">
            <li ng-repeat="series in ctrl.panel.echartsOption.series" ng-class="{active: ctrl.subTabIndex === $index}">
                <a ng-click="ctrl.subTabIndex  = $index">{{series.name||'新图'}}</a>
            </li>
            <li>
                <a class="pointer" ng-click="ctrl.addSeries()"><i class="fa fa-plus"></i>&nbsp;</a>
            </li>
        </ul>
    </aside>

    <div class="edit-tab-content" ng-repeat="series in ctrl.panel.echartsOption.series" ng-if="ctrl.subTabIndex === $index">
        <div class="editor-row">
            <div class="section gf-form-group">
                <h5 class="section-heading">添加数据</h5>
                <div class="gf-form">

                    <div class="gf-form">
                        <select class="gf-form-input width-8" ng-options="d for d in ctrl.getData()" ng-model="series.name" ng-change="ctrl.onRender()"></select>
                    </div>

                </div>
            </div>
        </div>
        <div class="editor-row">
            <div class="section gf-form-group">
                <h5 class="section-heading">样式配置</h5>
                <div class="gf-form">
                    <label class="gf-form-label width-8">类型</label>
                    <div class="gf-form-select-wrapper max-width-8">
                        <select class="gf-form-input gf-from-input--grow" ng-model="series.type" ng-options="c.value as c.text for c in [{value: 'bar',text: '柱形图'},{value: 'line',text: '折线图'}]"
                            ng-change="ctrl.onRender()"></select>
                    </div>
                </div>
                <div class="gf-form" ng-if="series.type==='bar'">
                    <label class="gf-form-label gf-label-grow">柱条宽度<tip>例：80%</tip></label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="series.barWidth" ng-change="ctrl.onRender()" ng-model-onblur
                    />
                </div>
                <div class="gf-form" ng-if="series.type==='bar'">
                    <label class="gf-form-label gf-label-grow">堆叠效果<tip>同个轴上系列配置相同的值可以堆叠放置</tip></label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="series.stack" ng-change="ctrl.onRender()" ng-model-onblur
                    />
                </div>
                <div class="gf-form" ng-if="series.type==='line'">
                    <label class="gf-form-label gf-label-grow">标记<tip>例： 'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'。也可以通过 'image://url' 设置为图片，其中 url 为图片的链接；通过 'path://' 将图标设置为任意的矢量路径。</tip></label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="series.symbol" ng-change="ctrl.onRender()" ng-model-onblur
                    />
                </div>
                 <div class="gf-form" ng-if="series.type==='line'">
                    <label class="gf-form-label gf-label-grow">标记大小</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="series.symbolSize" ng-change="ctrl.onRender()" ng-model-onblur
                    />
                </div>
            </div>
            <div class="clearfix"></div>
            <button class="btn btn-danger btn-small" ng-click="ctrl.remove(ctrl.panel.echartsOption.series,$index)">
                <i class="fa fa-trash"></i> 移除饼图
            </button>
        </div>
    </div>
</div>