
<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">X轴</h5>
        <div class="gf-form">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="显示 X 轴" checked="ctrl.panel.echartsOption.xAxisShow"
                on-change="ctrl.onRender()" switch-class="max-width-5"> </gf-form-switch>
        </div>
        <div class="gf-form" ng-if="ctrl.panel.echartsOption.xAxisShow">
            <label class="gf-form-label width-8">单位</label>
            <input type="text" class="input-small gf-form-input width-8" ng-model="ctrl.panel.echartsOption.xAxisName" ng-change="ctrl.onRender()"
                ng-model-onblur />
        </div>
        <div class="gf-form" ng-if="ctrl.panel.echartsOption.xAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label=" 轴线" checked="ctrl.panel.echartsOption.xAxisLineShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
            <label class="gf-form-label">
                <spectrum-picker ng-model="ctrl.panel.echartsOption.xAxisLineColor"  ng-change="ctrl.onRender()" ng-model-onblur></spectrum-picker>
          </label>
            <input type="text" class="gf-form-input width-12" ng-model="ctrl.panel.echartsOption.xAxisLineColor" ng-change="ctrl.onRender()"
                ng-blur="editor.render()" ng-model-onblur>
        </div>
              <div class="gf-form" ng-if="ctrl.panel.echartsOption.xAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="刻度" checked="ctrl.panel.echartsOption.xAxisTickShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="刻度线对齐" checked="ctrl.panel.echartsOption.xAxisTickAlign"
                on-change="ctrl.onRender()" ng-if="ctrl.panel.echartsOption.xAxisTickShow" switch-class="max-width-8"> </gf-form-switch>
        </div>
              <div class="gf-form" ng-if="ctrl.panel.echartsOption.xAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="分割线" checked="ctrl.panel.echartsOption.xSplitLineShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
          
        </div>
    </div>
    <div class="section gf-form-group ">
        <h5 class="section-heading">Y轴</h5>
        <div class="gf-form">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="显示 Y 轴" checked="ctrl.panel.echartsOption.yAxisShow"
                on-change="ctrl.onRender()" switch-class="max-width-5"> </gf-form-switch>
        </div>
        <div class="gf-form" ng-if="ctrl.panel.echartsOption.yAxisShow">
            <label class="gf-form-label width-8">单位</label>
            <input type="text" class="input-small gf-form-input width-8" ng-model="ctrl.panel.echartsOption.yAxisName" ng-change="ctrl.onRender()"
                ng-model-onblur />
        </div>
        <div class="gf-form" ng-if="ctrl.panel.echartsOption.yAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="轴线" checked="ctrl.panel.echartsOption.yAxisLineShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
            <label class="gf-form-label">
                <spectrum-picker ng-model="ctrl.panel.echartsOption.yAxisLineColor"  ng-change="ctrl.onRender()" ng-model-onblur></spectrum-picker>
                </label>
            <input type="text" class="gf-form-input width-12" ng-model="ctrl.panel.echartsOption.yAxisLineColor" ng-change="ctrl.onRender()"
                ng-blur="editor.render()" ng-model-onblur>
        </div>
        <div class="gf-form" ng-if="ctrl.panel.echartsOption.yAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="刻度" checked="ctrl.panel.echartsOption.yAxisTickShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="刻度线对齐" checked="ctrl.panel.echartsOption.yAxisTickAlign"
                on-change="ctrl.onRender()" ng-if="ctrl.panel.echartsOption.yAxisTickShow" switch-class="max-width-8"> </gf-form-switch>
        </div>
   <div class="gf-form" ng-if="ctrl.panel.echartsOption.yAxisShow">
            <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="分割线" checked="ctrl.panel.echartsOption.ySplitLineShow"
                on-change="ctrl.onRender()" switch-class="max-width-8"> </gf-form-switch>
          
        </div>

    </div>
    <div class="section gf-form-group">
        <h5 class="section-heading">直角坐标系边距
            <tip>组件距容器各侧的距离。例：20%</tip>
        </h5>
        <div class="gf-form">
            <label class="gf-form-label width-8">上边距</label>
            <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.gridTop" ng-change="ctrl.onRender()"
                ng-model-onblur />
            <label class="gf-form-label width-8">下边距</label>
            <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.gridBottom" ng-change="ctrl.onRender()"
                ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8">左边距</label>
            <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.gridLeft" ng-change="ctrl.onRender()"
                ng-model-onblur />
            <label class="gf-form-label width-8">右边距</label>
            <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.gridRight" ng-change="ctrl.onRender()"
                ng-model-onblur />

        </div>
    </div>
</div>