<div class="edit-tab-with-sidemenu">
    <aside class="edit-sidemenu-aside">
        <ul class="edit-sidemenu">
            <li ng-class="{active: ctrl.subTabIndex === 0}">
                <a ng-click="ctrl.subTabIndex  = 0">常规设置</a>
            </li>
            <li ng-class="{active: ctrl.subTabIndex === 1}">
                <a ng-click="ctrl.subTabIndex  = 1">饼图设置</a>
            </li>
        </ul>
    </aside>

    <div class="edit-tab-content" ng-if="ctrl.subTabIndex  === 0">
        <div class="editor-row">
            <div class="section gf-form-group">
                <h5 class="section-heading">标题</h5>
                <div class="gf-form">
                    <label class="gf-form-label width-8">标题</label>
                    <input type="text" class="input-small gf-form-input gf-form-input--grow" ng-model="ctrl.panel.echartsOption.title" ng-model-onblur/>
                </div>

                <div class="gf-form">
                    <label class="gf-form-label width-8">副标题</label>
                    <input type="text" class="input-small gf-form-input gf-form-input--grow" ng-model="ctrl.panel.echartsOption.subTitle" ng-model-onblur/>
                </div>

                <div class="gf-form">
                    <label class="gf-form-label width-8">位置 
            <tip>例：80%，center</tip>
          </label>
                    <label class="gf-form-label gf-label-grow">x</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.titleX" ng-model-onblur />
                    <label class="gf-form-label gf-label-grow">y</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.titleY" ng-model-onblur />
                </div>
            </div>
            <div class="section gf-form-group">
                <h5 class="section-heading">图例</h5>
                <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="显示图例" checked="ctrl.panel.echartsOption.legendShow"
                    switch-class="max-width-6"></gf-form-switch>

                <div class="gf-form">
                    <label class="gf-form-label width-8">排列方式</label>
                    <div class="gf-form-select-wrapper max-width-8">
                        <select class="gf-form-input gf-from-input--grow" ng-model="ctrl.panel.echartsOption.legendOrient" ng-options="c.value as c.text for c in [{value: 'horizontal',text: '水平排列'},{value: 'vertical',text: '垂直排列'}]"
                            ng-change="ctrl.onRender()"></select>
                    </div>
                </div>

                <div class="gf-form">
                    <label class="gf-form-label width-8">位置<tip>例：80%，center</tip></label>
                    <label class="gf-form-label ">x</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.legendLeft" ng-model-onblur/>
                    <label class="gf-form-label ">y</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.legendTop" ng-model-onblur/>
                </div>
            </div>

            <div class="section gf-form-group">
                <h5 class="section-heading">工具栏</h5>
                <div class="gf-form">
                    <gf-form-switch class="gf-form max-width-30" label-class="width-8" label="显示工具栏" checked="ctrl.panel.echartsOption.toolBoxShow"
                        switch-class="max-width-6"></gf-form-switch>
                </div>
            </div>

            <div class="section gf-form-group">
                <h5 class="section-heading">颜色</h5>
                <div class="gf-form" ng-repeat="color in ctrl.panel.echartsOption.colorArr track by $index">
                    <div class="gf-form-inline">
                        <label class="gf-form-label">
                            <a ng-click="ctrl.removeColor($index)"><i class="pointer fa fa-remove">&nbsp;</i></a>
                            <spectrum-picker ng-model="color" ng-change="ctrl.changeColor($index, color)" ng-model-onblur></spectrum-picker>
                        </label>
                        <input type="text" class="gf-form-input width-12" ng-model="color" ng-blur="editor.render()" ng-model-onblur>
                    </div>
                </div>

                <div class="gf-form">
                    <div class="gf-form-label">
                        <a ng-click="ctrl.addColor()"><i class="fa fa-plus"></i>&nbsp;</a>
                    </div>
                    <!-- <div class="gf-form-label">
                        <a ng-click="ctrl.invertColor()">颠倒</a>
                    </div>  -->
                </div>
            </div>
        </div>
    </div>

    <div class="edit-tab-content" ng-if="ctrl.subTabIndex  === 1">
        <div class="editor-row">
            <div class="section gf-form-group">
                <h5 class="section-heading">类型</h5>
                <div class="gf-form">
                    <gf-form-switch class="gf-form  max-width-30" switch-class="max-width-6" label-class="width-8" label="同心圆" checked="ctrl.panel.echartsOption.IS_CONCENTRIC"></gf-form-switch>
                </div>
                <div class="gf-form" ng-if="!ctrl.panel.echartsOption.IS_CONCENTRIC">
                    <label class="gf-form-label  width-8">南丁格尔图
            <tip>'半径':扇区圆心角展现数据的百分比，半径展现数据的大小。'面积':所有扇区圆心角相同，仅通过半径展现数据大小。</tip>
          </label>
                    <select class="gf-form-input  width-8" ng-model="ctrl.panel.echartsOption.roseType" ng-options="c.value as c.text for c in [{value: false ,text: '关闭'},{value: 'area',text: '面积'},{value: 'radius',text: '半径'}]"
                        ng-change="ctrl.onRender()"></select>
                </div>
            </div>

            <div class="section gf-form-group">
                <h5 class="section-heading">样式
                    <tip>例:80%</tip>
                </h5>
                <div class="gf-form">
                    <label class="gf-form-label ">内半径</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.minRadius" ng-model-onblur/>
                    <label class="gf-form-label ">外半径</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.maxRadius" ng-model-onblur/>
                </div>
            </div>

            <div class="section gf-form-group">
                <h5 class="section-heading">位置
                    <tip>例:80%</tip>
                </h5>
                <div class="gf-form">
                    <label class="gf-form-label ">x</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.centerX" ng-model-onblur/>
                    <label class="gf-form-label ">y</label>
                    <input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.echartsOption.centerY" ng-model-onblur/>
                </div>
            </div>
        </div>
    </div>
</div>